#details{
    
    text-align: center; 
}

.input{
    width : 50%;
    margin: 20px;
    height: 40px;
}

#regNumber, #user{
    display : block;
    margin: 20px;
}

#submitDetails{
    font-size: 20px;
    height: 20px;
    width: 50px;
}

li{
    list-style-type: none;

}

.hide{
    display: none;
   
}